/* Use this file to ONLY import other scss files */

@import 'variables';
@import 'base';
div.aritcle-content img {
    width: 100% !important; 
  }
  /*------------------------------social media icon----------------  */
.social-media-ico{
  width: 54px;
  padding: 9px;
}


  