/* body{
    background-color: #f4f4f4 !important;
} */


@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
    font-family: Public_Sans;
    src: url(../assets/font/Public_Sans/PublicSans-VariableFont_wght.ttf);
}
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Public_Sans", sans-serif;
}
.regimg{
  margin:10px;
}
.mplogo{
  margin:20px auto;
}
.loginButton{
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  min-width: 30%;
  background: linear-gradient(
90deg
, #c45791 30%, #6e48bf 100%);
  font-weight: bold;
  color: #fff;
  margin-bottom: 3%;
  cursor: pointer;
}
.form-control{
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 2px;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
}
::selection{
    color: #fff;
    background: #d43f8d;
  }
  

  .container .form-outer{
    width: 100%;
    overflow: hidden;
  }
  .container .form-outer form{
    display: flex;
    width: 400%;
  }
  .form-outer form .page{
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
  }
  .form-outer form .page .title{
    text-align: left;
    font-size: 25px;
    font-weight: 500;
  }
  .form-outer form .page .field{
    width: 330px;
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
  }
  form .page .field .label{
    position: absolute;
    top: -30px;
    font-weight: 500;
  }
  form .page .field input{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
  }
  form .page .field select{
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
  }
  form .page .field button{
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: #d33f8d;
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
  }
  form .page .field button:hover{
    background: #000;
  }
  form .page .btns button{
    margin-top: -20px!important;
  }
  form .page .btns button.prev{
    margin-right: 3px;
    font-size: 17px;
  }
  form .page .btns button.next{
    margin-left: 3px;
  }
 


.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

/* .top-menu{
  overflow-y: auto;
  overflow-x: hidden;
  height: 123vh;
  scrollbar-width: thin;
  scrollbar-color: #5f45c9 #d25988;
} */

:root {
  --background: linear-gradient(30deg, #f39c12 30%, #f1c40f);
  --background-select: linear-gradient(to left, #34495e 3rem, #2c3e50 3rem);
}
.hospitaltype {
border-left: 4px solid #68CF68;
margin-bottom: 0;
}
.hospitaltype span,
.type span {
background-color: #000;
color: #fff;
padding: 2px 1px;
margin-left: 2px;
text-transform: uppercase;
font-size: 12px;
font-weight: 100;
}
.namehref {
text-decoration: none;
color: #212529;
}
.namehref:hover {
text-decoration: none;
color: #212529;
}
#title-list li {
padding: 10px;
background: #fff;
border-bottom: #bbb9b9 1px solid;
}
#suggesstion-box {
display: none;
z-index: 4;
width: 100%;
max-height: 250px;
overflow-y: scroll;
border: 2px solid #28a745;
border-radius: 3px;
}
#suggesstion-box::-webkit-scrollbar {
width: 10px;
}
#suggesstion-box::-webkit-scrollbar-track {
background: #f1f1f1;
border-radius: 10px;
}
#suggesstion-box::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #c1c1c1;
}
select {
appearance: none;
border: 0;
outline: 0;
background: none;
color: inherit;
box-shadow: none;
}
select::-ms-expand {
display: none;
}
.select {
  position: relative;
  display: flex;
  width: min(11rem, 94vw);
  border-radius: 0.25rem;
  background-color: #fff;
  border: 1px solid #f1e8e8;
  overflow: hidden;
  height: 31px;
  line-height: 15px;
  margin-right: 0.5rem;

  select {
      flex: 1;
      cursor: pointer;
      padding-left: 4px;
  }
  &::after {
      content: "\25BC";
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      transition: 0.25s all ease;
      pointer-events: none; 
  }
  &:hover::after {
      color: #f39c12;
      animation: bounce 0.5s infinite;
  }
}
@keyframes bounce {
25% {
  transform: translatey(5px);
}
75% {
  transform: translatey(-5px);
}
}
.filter-btn{
  color: #fff !important;
  background-color: #5f45c9 !important;
  border-color: #5f45c9 !important;
  height: 30px !important;
  font-size: .875rem;
}
.filter-box {
  width: 11rem;
  border: none;
  padding: 0 28px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .875rem;
}

.filter-box::-ms-expand {
  display: none;
}
.bi-star-fill, .bi-star-half, .bi-star{
	color: #eb9c05 !important;
	}
.css-x8q3gx {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  margin-bottom: 8px;
  width: 100%;
  height: 70px;
}
.css-vuzb25 {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}
.map iframe{
  border-radius: 17px !important;
}
.btn-info {
  color: #fff;
  background-color: #5e52a3;
  border-color: #5e52a3;
  box-shadow: none;
}
.btn-info:hover {
  color: #fff;
  background-color: #5e52a3eb;
  border-color: #5e52a3eb;
}
.l-border-radius {
  border-radius: 17px !important;
}
.sort-item{
  border-bottom: 8px solid #f4f4f4 !important;
  background: #fff !important;
  border-radius: 17px !important;
}
.l-service ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: 2rem;
}

.l-service li {
  flex: 0 0 100px;
  margin-top: 10px;
  text-transform: capitalize;
  font-size: 14px;
}
.profile-img{
  width: 70px;
  border-radius: 50%;
  height: 70px;
  object-fit: cover;
}
.certificate-img{
  width: 4rem;
  height: 2.5rem;
  object-fit: contain;
}
.l-contact ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: 1rem;
}

.l-contact li {
  flex: 0 0 50px;
  margin-top: 10px;
  text-transform: capitalize;
  font-size: 14px;
}